:root {
  font-family: Poppins, sans-serif;
  --main-color: #000;
  --brand-color: #0e38b1;
  --second-brand-color: #081f62;
  --third-brand-color: #6f8eeb;
  --white-color: #fff;
  scroll-behavior: smooth;
}

body {
  max-width: 1100px;
  margin: auto;
}

ul.main-menu a {
  color: white;
  background-color: var(--brand-color);
  padding: 12px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  list-style-type: none;
}

.dropdown {
  position: fixed;
  background-color: var(--brand-color);
  min-width: 1100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--brand-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

div.dropdown-content {
  margin-top: 13px;
}

div.dropdown-content li a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {background-color: var(--second-brand-color);}

.dropdown-item:hover .dropdown-content {display: block;}

.main-menu-item a:hover {
  color: var(--third-brand-color);
}

#img-main {
  max-width: 1100px;
}

#history {
  padding-top: 20px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

#img-history {
  min-width: 1100px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.img-victory {
  text-align: center;
}

.footer-menu {
  padding: 30px 0px;
  background-color: var(--third-brand-color);
}

.footer-menu a {
  text-decoration: none;
  padding: 10px;
  color: white;
}
